<a href="https://colab.research.google.com/github/angelicasharon/Angelicashrn/blob/main/UTS/UTS_ML_Angelica_Sharon_1103210032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **UTS Machine Learning**

Nama: Angelica Sharon Amelia Siamnjuntak

NIM: 1103210032

Kelas: TK - 45 - 04

Dataset: Credit score classification

Model: Random Forest

ChatGPT Prompt: https://chat.openai.com/share/29e22269-b18c-403e-b2d1-cec482346446

# **Library**

In [123]:
#Used for array operations and numerical manipulation
import numpy as np
#Used for data manipulation and data analysis
import pandas as pd
#encode categorical variables into numerical
from sklearn.preprocessing import StandardScaler, LabelEncoder
#feature selection based on mutual information
from sklearn.feature_selection import mutual_info_classif
#split data into training and testing data
from sklearn.model_selection import train_test_split
#Ensemble decision tree model
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
#model evaluation
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, mean_squared_error
from sklearn.metrics import mean_absolute_error

# **Import File**

In [124]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [125]:
# Load the data
data_test = pd.read_csv("/content/drive/MyDrive/Dataset1/test.csv")
data_train = pd.read_csv("/content/drive/MyDrive/Dataset1/train.csv")

# Display the data test
print("\nDATA TEST\n")
print(data_test.head(5))

# Display the data train
print("\nDATA TRAIN\n")
print(data_test.head(5))

DATA TEST

       ID Customer_ID      Month             Name  Age          SSN  \
0  0x160a   CUS_0xd40  September    Aaron Maashoh   23  821-00-0265
1  0x160b   CUS_0xd40    October    Aaron Maashoh   24  821-00-0265
2  0x160c   CUS_0xd40   November    Aaron Maashoh   24  821-00-0265
3  0x160d   CUS_0xd40   December    Aaron Maashoh  24_  821-00-0265
4  0x1616  CUS_0x21b1  September  Rick Rothackerj   28  004-07-5839

  Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0  Scientist      19114.12            1824.843333                  3  ...
1  Scientist      19114.12            1824.843333                  3  ...
2  Scientist      19114.12            1824.843333                  3  ...
3  Scientist      19114.12                    NaN                  3  ...
4    _______      34847.84            3037.986667                  2  ...

   Num_Credit_Inquiries  Credit_Mix Outstanding_Debt Credit_Utilization_Ratio  \
0                2022.0        Good           809.98                35.030402
1                   4.0        Good           809.98                33.053114
2                   4.0        Good           809.98                33.811894
3                   4.0        Good           809.98                32.430559
4                   5.0        Good           605.03                25.926822

       Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month  \
0   22 Years and 9 Months                    No           49.574949
1  22 Years and 10 Months                    No           49.574949
2                     NaN                    No           49.574949
3   23 Years and 0 Months                    No           49.574949
4   27 Years and 3 Months                    No           18.816215

   Amount_invested_monthly                 Payment_Behaviour  \
0       236.64268203272135    Low_spent_Small_value_payments
1       21.465380264657146  High_spent_Medium_value_payments
2       148.23393788500925   Low_spent_Medium_value_payments
3        39.08251089460281  High_spent_Medium_value_payments
4       39.684018417945296   High_spent_Large_value_payments

      Monthly_Balance
0  186.26670208571772
1  361.44400385378196
2  264.67544623342997
3  343.82687322383634
4   485.2984336755923

[5 rows x 27 columns]

DATA TRAIN

       ID Customer_ID      Month             Name  Age          SSN  \
0  0x160a   CUS_0xd40  September    Aaron Maashoh   23  821-00-0265
1  0x160b   CUS_0xd40    October    Aaron Maashoh   24  821-00-0265
2  0x160c   CUS_0xd40   November    Aaron Maashoh   24  821-00-0265
3  0x160d   CUS_0xd40   December    Aaron Maashoh  24_  821-00-0265
4  0x1616  CUS_0x21b1  September  Rick Rothackerj   28  004-07-5839

  Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0  Scientist      19114.12            1824.843333                  3  ...
1  Scientist      19114.12            1824.843333                  3  ...
2  Scientist      19114.12            1824.843333                  3  ...
3  Scientist      19114.12                    NaN                  3  ...
4    _______      34847.84            3037.986667                  2  ...

   Num_Credit_Inquiries  Credit_Mix Outstanding_Debt Credit_Utilization_Ratio  \
0                2022.0        Good           809.98                35.030402
1                   4.0        Good           809.98                33.053114
2                   4.0        Good           809.98                33.811894
3                   4.0        Good           809.98                32.430559
4                   5.0        Good           605.03                25.926822

       Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month  \
0   22 Years and 9 Months                    No           49.574949
1  22 Years and 10 Months                    No           49.574949
2                     NaN                    No           49.574949
3   23 Years and 0 Months                    No           49.574949
4   27 Years and 3 Months                    No           18.816215

   Amount_invested_monthly                 Payment_Behaviour  \
0       236.64268203272135    Low_spent_Small_value_payments
1       21.465380264657146  High_spent_Medium_value_payments
2       148.23393788500925   Low_spent_Medium_value_payments
3        39.08251089460281  High_spent_Medium_value_payments
4       39.684018417945296   High_spent_Large_value_payments

      Monthly_Balance
0  186.26670208571772
1  361.44400385378196
2  264.67544623342997
3  343.82687322383634
4   485.2984336755923

[5 rows x 27 columns]

<ipython-input-125-9b25c77bf228>:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data_train = pd.read_csv("/content/drive/MyDrive/Dataset1/train.csv")

In [126]:
#Display the dataframe structure test
print("\n**DATA TEST**\n")
data_test.info()

print("\n\n")

#Display the dataframe structure train
print("\n**DATA TRAIN**\n")
data_train.info()

**DATA TEST**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB




**DATA TRAIN**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

Dari data di atas, kita dapat menentukan beberapa informasi penting:


**DATA TEST**

Jumlah Columns: Terdapat 27 kolom.
Dtypes: Tipe data dari setiap kolom adalah sebagai berikut:
* Oject: 19 kolom
* Int64: 4 kolom
* Float64: 4 kolom
Memory Usage: Memory yang digunakan sekitar 10.3+ MB.
Terdapa Non-Null Count: Nilai jumlah yang kosong


**DATA TRAIN**

Jumlah Columns: Terdapat 28 kolom.
Dtypes: Tipe data dari setiap kolom adalah sebagai berikut:
* Oject: 20 kolom
* Int64: 4 kolom
* Float64: 4 kolom
Memory Usage: Memory yang digunakan sekitar 21.4+ MB.
Terdapa Non-Null Count: Nilai jumlah yang kosong

In [127]:
# Daftar kolom yang tidak diperlukan
columns_to_drop = ['ID', 'Customer_ID', 'Name', 'SSN', 'Credit_History_Age', 'Type_of_Loan']

# Menghapus kolom yang tidak diperlukan dari dataset train
data_train.drop(columns=columns_to_drop, inplace=True)

# Menghapus kolom yang tidak diperlukan dari dataset test
data_test.drop(columns=columns_to_drop, inplace=True)

# Menampilkan dataset train setelah penghapusan kolom
print("Train Dataset Setelah Penghapusan Kolom:")
data_train.describe()

# Menampilkan dataset test setelah penghapusan kolom
print("\nTest Dataset Setelah Penghapusan Kolom:")
data_test.describe()

Train Dataset Setelah Penghapusan Kolom:

Test Dataset Setelah Penghapusan Kolom:

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,42502.000000,50000.000000,50000.000000,50000.000000,50000.000000,48965.000000,50000.000000,50000.000000
mean,4182.004291,16.838260,22.921480,68.772640,21.052640,30.080200,32.279581,1491.304305
std,3174.109304,116.396848,129.314804,451.602363,14.860397,196.984121,5.106238,8595.647887
min,303.645417,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.509652,0.000000
25%,1625.188333,3.000000,4.000000,8.000000,10.000000,4.000000,28.061040,32.222388
50%,3086.305000,6.000000,5.000000,13.000000,18.000000,7.000000,32.280390,74.733349
75%,5934.189094,7.000000,7.000000,20.000000,28.000000,10.000000,36.468591,176.157491
max,15204.633333,1798.000000,1499.000000,5799.000000,67.000000,2593.000000,48.540663,82398.000000

# **Data Preprocess**

**Formatted Data**

In [128]:
#Deleted "_"
data_train = data_train.applymap(lambda x: x.replace('_', '') if isinstance(x, str) else x)
data_test = data_test.applymap(lambda x: x.replace('_', '') if isinstance(x, str) else x)

In [129]:
#EnCoding Categorical

# Mendapatkan fitur kategori (categorical features)
categorical = ['Month',"Occupation","Credit_Mix","Payment_of_Min_Amount","Payment_Behaviour","Credit_Score"]
label_encoder = LabelEncoder()

# Melakukan one-hot encoding pada dataset test
for x in categorical[:-1]:
    data_test[x] = label_encoder.fit_transform(data_test[x])

# Melakukan one-hot encoding pada dataset train
for x in categorical:
    data_train[x] = label_encoder.fit_transform(data_train[x])

# Filter out negative values in numeric columns test
data_test = data_test.apply(pd.to_numeric,errors='coerce')
data_test = data_test.applymap(lambda x: x if x >= 0 else None)
data_test.dropna(axis=0,inplace=True)

# Filter out negative values in numeric columns train
data_train = data_train.apply(pd.to_numeric,errors='coerce')
data_train = data_train.applymap(lambda x: x if x >= 0 else None)
data_train.dropna(axis=0,inplace=True)

In [130]:
# Calculate quartiles for each feature
quartiles1 = data_test.quantile([0.25, 0.75])
quartiles2 = data_train.quantile([0.25, 0.75])

In [131]:
# Calculate IQR
IQR1 = quartiles1.loc[0.75] - quartiles1.loc[0.25]
IQR2 = quartiles2.loc[0.75] - quartiles2.loc[0.25]

In [132]:
#  Define lower and upper bounds for each feature
lower_bound1 = (quartiles1.loc[0.25] - 1.5 * IQR1).to_dict()
upper_bound1 = (quartiles1.loc[0.75] + 1.5 * IQR1).to_dict()
lower_bound2 = (quartiles2.loc[0.25] - 1.5 * IQR2).to_dict()
upper_bound2 = (quartiles2.loc[0.75] + 1.5 * IQR2).to_dict()

In [133]:
# Filter out data points outside the bounds for each feature
filtered_data1 = data_test.copy()
for feature in data_test.columns:
    lower_bound_value1 = lower_bound1[feature]
    upper_bound_value1 = upper_bound1[feature]
    filtered_data1 = filtered_data1[(filtered_data1[feature] >= lower_bound_value1) & (filtered_data1[feature] <= upper_bound_value1)]
data_test = filtered_data1

filtered_data2 = data_train.copy()
for feature in data_train.columns:
    lower_bound_value2 = lower_bound2[feature]
    upper_bound_value2 = upper_bound2[feature]
    filtered_data2 = filtered_data2[(filtered_data2[feature] >= lower_bound_value2) & (filtered_data2[feature] <= upper_bound_value2)]
data_train = filtered_data2

# **Random Forest Model**

In [134]:
# Memilih fitur-fitur yang bukan tipe data integer untuk data train
X_train = data_train.drop('Credit_Score',axis=1)
y_train = data_train['Credit_Score']

# Memilih fitur-fitur yang sama untuk data test
X_test = data_test

# Membagi data train menjadi data latih dan data validasi
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.1, random_state=42)

In [135]:
# Create Random Forest model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)  # You can adjust the number of estimators

# Train the model
rf_model.fit(X_train, y_train)

# Make predictions
y_pred_valid_rf = rf_model.predict(X_valid)

In [136]:
# Evaluate the model
accuracy = accuracy_score(y_valid, y_pred_valid_rf)
print("Accuracy:", accuracy)

# Evaluate the model
accuracy = accuracy_score(y_valid, y_pred_valid_rf)
print("Accuracy:", accuracy)

# Calculate mean squared error (MSE)
mse = mean_squared_error(y_valid, y_pred_valid_rf)
print("Mean Squared Error:", mse)

# Calculate mean absolute error (MAE)
mae = mean_absolute_error(y_valid, y_pred_valid_rf)
print("Mean Absolute Error:", mae)

Accuracy: 0.7950084807366126
Accuracy: 0.7950084807366126
Mean Squared Error: 0.4521444148291737
Mean Absolute Error: 0.28737581778531623